<header class="cabecalho ff-inter">
  <div class="logo">
    <img src="/assets/imagens/logo-memoteca.png" alt="Logo da aplicação Memoteca">

    <p>Value of teste: {{ teste }}</p>

    
    <!-- Two-Way Data Binding: atualização dinamica de status de variavel -->
    <input type="checkbox" [(ngModel)]="teste" />

    <div *ngIf="teste">
      Este valor é Verdadeiro
    </div>
    <div *ngIf="!teste">
      Valor é Falso
    </div>

    <br>

    <button (click)="testeFunction()"> {{ buttonName }} </button>

    <!-- Property Binding:  -->
    <p> Nome: {{ nome }}</p>
    <p> Teste: {{ textoTeste }}</p>
    <label for="framework">
      Campo de Teste:
      <input id="framework" type="text" [(ngModel)]="textoTeste" />
    </label>

    <!-- Event Binding: (evento) -->
    <button (click)="showFramework()">Show Framework</button>

    
  </div>
  <img class="imagem" src="/assets/imagens/computador-cabecalho.png" alt="Imagem de um computador">
</header>
